@model HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<tr>
    <td class="root_table__middle" valign="top" align="center" height="100%">
        <div class="max_width">
            <div class="root_table__middle__item">
                <h1 class="root_table__middle__item__title">Ошибка</h1>
                Сообщение об ошибке: @Model.Exception.Message<br/>
                Источник ошибки: @Model.Exception.Source

            </div>
        </div>
    </td>
</tr>
