<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
        <add name="WClientContext" connectionString="Data Source=SQL5007.Smarterasp.net;Integrated Security=False;Initial Catalog=DB_9A9F0E_wclient;User Id=DB_9A9F0E_wclient_admin;Password=jYg3ju05ns72Skf;MultipleActiveResultSets=True"
             providerName="System.Data.SqlClient" xdt:Transform="Replace"/>
    </connectionStrings>
</configuration>